.message-box {
  @include flex;
  background-color: $search-color;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .message-box__input {
    width: 100%;
    height: 40px;
    margin: 0 16px;
    padding-left: 10px;
    background-color: white;
    border-radius: 18px;

    display: flex;
    align-items: center;

    input {
      @include outline;
      width: 100%;
      font-size: 15px;   
      
      &::placeholder {
        color: $gray;
      }
    }
  }

  .message-box__icon {
    @include iconButton;
    width: 36px;
    height: 100%;
    margin: 0 22px 0 14px;
    color: $gray;
  }
}